#bicycle-form {
  line-height: 24px;
  flex: 3 0 auto;
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 85%;
}
#bicycle-form > div{
  flex: 1;
}
#bicycle-form input[type="text"] { outline: 0;}
#bicycle-form input[type="email"] { outline: 0;}
#media-buttons-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  font-size: small;
}
#QRreader{
  width: 6.5em;
  aspect-ratio: 1/1;
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  background: url(../../resources/greenQR.jpg) no-repeat;
  background-size: 100%;
  cursor: pointer;
}
#capture-container label {
  border: 1px solid black;
  background: url(../../resources/bicycleCamera1.jpg) no-repeat;
  background-size: cover;
  aspect-ratio: 1000/700;
  width: 7em;
  background-position: center;
  cursor: pointer;
}
#barcode-container span {
  color:greenyellow;
  position: absolute;
  font-size: 1.5em;
  bottom: 0.2em; left: -1em;
}
#barcode-container {
  position: relative;
}
#capture-container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
}
#capture-container input[type="file"] {
  display: none;
}

.text-input-container {
  display: grid;
  grid-template-columns: 26% 1fr;
  white-space: nowrap;
  text-align: end;
  gap: 1em;
}

#text-input {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text-input-container label{
  font-size: 1.5em;
  color: lightyellow;
}
.text-input-container input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  letter-spacing: 0.5px;
  padding-right: 4px;
}
.text-input-container input::placeholder {
  color: var(--pnimeet-yellow-dull);
  font-size: 1.2em;
}
#form-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#form-buttons-container input {
  cursor: pointer;
  margin: 0;
  padding: 5px 8px;
  border-radius: 2px;
  background-color: var(--pnimeet-yellow);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.35);
}
#form-buttons-container input[type="reset"] {
  background-color: var(--pnimeet-yellow-dull);
}
#form-buttons-container input[type="submit"] {
  padding: 5px 12px;
}