*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

* /* Colors */ {
  --pnimeet-yellow: #FCB55F;
  --pnimeet-yellow-dull: #ECB57F;
  --pnimeet-green: #0F6D35;
}

* /* z-index */ {
  --z-index-header: 10;
  --z-index-table-action-popup: 14;
  --z-index-image-popup: 15;
  --z-index-blur: 16;
  --z-index-modal: 20;
}

body{
  padding-top: 90px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0F6D3533;
  min-height: 100vh;
  height: 1500px;
  line-height: 1;
}

.show-block {
  display: block;
}

.blur-bg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-blur);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

