#add-bicycle-popup {
  position: absolute;
  z-index: 10;
  opacity: 1;
  padding: 20px;
  top: 100px;
  right: 100px;
  background-color: rgb(40,200,120,0.8);
  border: 2px solid black;
  border-radius: 2px;

}

.form-text-input {
  display: flex;
  text-align: center;
}
.form-text-input input {
  flex: 1;
}
.form-text-input label {
  width: 80px;
}