.table-actions{
  display: flex;
  align-self: self-start;
  margin-bottom: 8px;
}
#add-bicycle-button{
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: rgba(0,0,0,0);
  width: 50px;
  cursor: pointer;
}
.search-bar{
  margin-top: 4px;
  height: 30px;
}
.plus-icon{
  width: 100%;
}
th[data-name="person"] span{
  position: relative;
}
.search-user {
  display: flex;
  justify-content: center;
  display: none;
}
.search-user input{
  width: 60%;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.search-user input:focus{
  outline: none;
  border-bottom: 2px solid black;
}
.toggle-table-action {
  background-color: transparent;
  color: yellow;
  position:absolute;
  transform: rotate(270deg);
  right: 110%;
  top: 15%;
}
.toggle-table-action:hover {
  text-shadow: 0 0 2px blue;
}