section:first-child {
  margin: 0px 1vw;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bicycle-table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: max(2vw, 1em);
  box-shadow: 1px 1px 4px #0A4020;
}
.visual-col{
  width:10%;
}
@media screen and (min-width: 800px) {
  .visual-col{
    width:15%;
  } 
}
@media screen and (min-width: 1200px) {
  .visual-col{
    width:20%;
  } 
}
.person-col{
  width: 15%;
}
.email-col{
  width: 20%;
}
.status-col{
  width: 10%;
}
.taken-col{
  width: 12.5%;
}
.maintained-col{
  width: 12.5%;
}
tr{
  background-image: url(../resources/noise.png);
  background-color: #0F6D3533;
}
th {
  background-color: #0F6D3523;
  padding: 0.5em 0px;
  font-weight: 600;
}
  td,th {
  border: 1px solid #0F6D3553;
  text-align: center;
  text-overflow: ellipsis;
  height: 1px;
} 
.visual-info-container{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #444;
}
td:first-of-type {
  position: relative;
}
.image-popup {
  display: none;
  position: absolute;
  top: 50%;
  right: 50%;
  width: 200%;
  border: 1px solid white;
  z-index: var(--z-index-image-popup);
}
.bicycle-text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 2vw;
  color: #fafafa;
  background-color: #757575aa;
  border: 1px solid #444;
  text-shadow: 1px 1px 1px black;
}
.bicycle-color{
  position: absolute;
  top: 1vh;
  right: 1vh;
  width: 15%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgb(220,50,0);  
}
.status-container{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.status-indicator::after{
  content:"";
  width:80%;
  height:50%;
  position:absolute;
  top:5%;
  left:10%;
  border-radius:100% / 100%;
  background: linear-gradient(white, transparent);
}
.status-indicator{
  box-shadow: 0px 2px 1px black;
  position: relative;
  width: 26%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: orange;
}
.status {
  position: absolute;
  bottom: 0px;
  font-size: max(1vw,1em);
}
.yGrad{
  background: radial-gradient(#ffff4e, orange 50%);
}
.rGrad{
  background: radial-gradient(#ff974e, #ce4e2e 50%);
}
.gGrad{
  background: radial-gradient(#ffff40, #40c820 50%);
}